<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<body>
  <%  Commodityid = commodities[0].id %>
  <% commodityName = commodities[0].name %>
  <% commodities = commodities[0].commodities %>
  <% message = message %>
  <% let serialNumber = 1 %>

  <% console.log(message) %>


  <span id="id" style="font-size:0px;"><%=Commodityid%></span>
  <h1> LAST UPDATED COMMODITY VS PRICE FOR KASUWA FARMS</h1>

  <h1 id="message"><% message %></h1>

  <table class="table table-bordered">
    <thead class="thead-dark table-hover">
      <tr>
        <th scope="col" >S/N</th>
        <th scope="col">COMMODITY NAME</th>
        <th scope="col">PRICE</th>
        <th scope="col" class="bg-warning">DELETE</th>
      </tr>
    </thead>

    <% if(commodities.length > 0){  %>

    <tbody>

        <% commodities.forEach(commod=>{ %>

        <tr class="commod_block" scope="row">
          <th scope="row"><%=serialNumber++ %></th>
          <td class="commod"><%= commod.name %></td>
          <td class="price" data-price="<%= commod.name %>" contenteditable><%= commod.price %></td>
          <td class="bg-warning"><button type="button" class="btn btn-danger delete" data-doc="<%= commod.name %>" id="<%= commod.id %>"><a >DELETE</a></button> </td>
        </tr>

        <% }) %>
    </tbody>

    <% } else { %>

    <p>no commodity to display</p>
    <% } %>

  </table>


  <% var comm_odities = commodities; %>

  <button> <a href="/admin/addcommodity">ADD COMMODITY</a></button> <button id="update">UPDATE</button>
  <SCript>
    let message = document.getElementById("message");

    //   const setdisplay = ()=>{
    //   message.style.display="block"

    //   setTimeout(function() {
    //   message.style.display=("none");
    // }, 5000);

    //   } 
    // setdisplay()


    const deletebtns = Array.from(document.getElementsByClassName('delete'))

    const commodBlock = Array.from(document.getElementsByClassName("commod_block"));
    const commodities = Array.from(document.getElementsByClassName("commod"));
    const price = Array.from(document.getElementsByClassName("price"));
    const upDate = document.getElementById("update")
    let Document_id = document.getElementById("id").innerText

    let box = []



    deletebtns.forEach(deletebtn => {
      deletebtn.addEventListener("click", () => {
        let id = deletebtn.id
        console.log(deletebtn.id)
        console.log(deletebtn.dataset.doc)
        fetch(`/admin/delete:${Document_id}/commodities/:${id}`, {
            method: 'DELETE'
          })
          .then(response => response.json())
          .then(response => {
            alert("delete successful, kindly refresh to make changes")
          })
      })
    })

    upDate.addEventListener("click", () => {
      commodBlock.forEach((commod) => {
        let name = commod.querySelector(".commod").textContent
        let price = commod.querySelector(".price").textContent

        box.push({
          name: name,
          price: price
        })

      })
      // console.log(box)
      fetch('/admin/updateAll', {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            commodities: box
          })
        })
        .then(response => response.json())
        .then(response => {
          console.log(JSON.stringify(response))
          alert(`last database update successful`)
        })
    })
  </SCript>


</body>


</html>